<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/ml_python.png' width=600/></center>

<img src = "https://github.com/Jangrae/img/blob/master/mobile2.png?raw=true" width=800 align="left"/>

# 실습 내용

- Random Search로 KNN 알고리즘 모델을 튜닝합니다.

# 1.환경 준비

- 기본 라이브러리와 대상 데이터를 가져와 이후 과정을 준비합니다.

In [1]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%config InlineBackend.figure_format='retina'

In [2]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/jangrae/csv/master/mobile.csv'
data = pd.read_csv(path)

# 2.데이터 이해

- 분석할 데이터를 충분히 이해할 수 있도록 다양한 탐색 과정을 수행합니다.

In [3]:
# 상위 몇 개 행 확인
data.head()

,id,COLLEGE,INCOME,OVERAGE,LEFTOVER,HOUSE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURN
0,1,0,31953,0,6,313378,161,0,4,unsat,little,no,0
1,2,1,36147,0,13,800586,244,0,6,unsat,little,considering,0
2,3,1,27273,230,0,305049,201,16,15,unsat,very_little,perhaps,0
3,4,0,120070,38,33,788235,780,3,2,unsat,very_high,considering,1
4,5,1,29215,208,85,224784,241,21,1,very_unsat,little,never_thought,0

In [4]:
# 기술통계 확인
data.describe()

,id,COLLEGE,INCOME,OVERAGE,LEFTOVER,HOUSE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,AVERAGE_CALL_DURATION,CHURN
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,10000.500000,0.502400,80281.447750,85.979550,23.898650,493155.264250,389.615100,8.000700,6.002250,0.492600
std,5773.647028,0.500007,41680.586319,85.992324,26.816645,252407.884692,213.820682,8.925418,4.402558,0.499958
min,1.000000,0.000000,20007.000000,-2.000000,0.000000,150002.000000,130.000000,0.000000,1.000000,0.000000
25%,5000.750000,0.000000,42217.000000,0.000000,0.000000,263714.250000,219.000000,1.000000,2.000000,0.000000
50%,10000.500000,1.000000,75366.500000,59.000000,14.000000,452259.500000,326.000000,4.000000,5.000000,0.000000
75%,15000.250000,1.000000,115881.750000,179.000000,41.000000,702378.000000,533.250000,15.000000,10.000000,1.000000
max,20000.000000,1.000000,159983.000000,335.000000,89.000000,999996.000000,899.000000,29.000000,15.000000,1.000000

# 3.데이터 준비

- 전처리 과정을 통해 머신러닝 알고리즘에 사용할 수 있는 형태의 데이터를 준비합니다.

**1) 변수 제거**

In [5]:
# 제거 대상: id


# 변수 제거
data.drop('id', axis=1, inplace=True)

# 확인
data.head()

,COLLEGE,INCOME,OVERAGE,LEFTOVER,HOUSE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURN
0,0,31953,0,6,313378,161,0,4,unsat,little,no,0
1,1,36147,0,13,800586,244,0,6,unsat,little,considering,0
2,1,27273,230,0,305049,201,16,15,unsat,very_little,perhaps,0
3,0,120070,38,33,788235,780,3,2,unsat,very_high,considering,1
4,1,29215,208,85,224784,241,21,1,very_unsat,little,never_thought,0

**2) x, y 분리**

In [6]:
# Target 설정
target = 'CHURN'

# 데이터 분리
x=data.drop(target,axis=1)
y=data[target]

**3) 가변수화**

In [7]:
# 가변수화 대상: REPORTED_SATISFACTION, REPORTED_USAGE_LEVEL, CONSIDERING_CHANGE_OF_PLAN
dumm_cols = ['REPORTED_SATISFACTION', 'REPORTED_USAGE_LEVEL', 'CONSIDERING_CHANGE_OF_PLAN']

# 가변수화
x=pd.get_dummies(x, columns=dumm_cols, drop_first=True)

# 확인
x.head()

,COLLEGE,INCOME,OVERAGE,LEFTOVER,HOUSE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION_sat,REPORTED_SATISFACTION_unsat,REPORTED_SATISFACTION_very_sat,REPORTED_SATISFACTION_very_unsat,REPORTED_USAGE_LEVEL_high,REPORTED_USAGE_LEVEL_little,REPORTED_USAGE_LEVEL_very_high,REPORTED_USAGE_LEVEL_very_little,CONSIDERING_CHANGE_OF_PLAN_considering,CONSIDERING_CHANGE_OF_PLAN_never_thought,CONSIDERING_CHANGE_OF_PLAN_no,CONSIDERING_CHANGE_OF_PLAN_perhaps
0,0,31953,0,6,313378,161,0,4,0,1,0,0,0,1,0,0,0,0,1,0
1,1,36147,0,13,800586,244,0,6,0,1,0,0,0,1,0,0,1,0,0,0
2,1,27273,230,0,305049,201,16,15,0,1,0,0,0,0,0,1,0,0,0,1
3,0,120070,38,33,788235,780,3,2,0,1,0,0,0,0,1,0,1,0,0,0
4,1,29215,208,85,224784,241,21,1,0,0,0,1,0,1,0,0,0,1,0,0

**4) 학습용, 평가용 데이터 분리**

In [8]:
# 모듈 불러오기
from sklearn.model_selection import train_test_split

# 7:3으로 분리
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)


**5) 정규화**

In [9]:
# 모듈 불러오기
from sklearn.preprocessing import MinMaxScaler

# 정규화
scaler = MinMaxScaler()
x_train_s = scaler.fit_transform(x_train)
x_test_s = scaler.transform(x_test)

# 4.성능 예측

- k-Fold Cross Validation을 사용해 모델의 성능을 예측합니다.

In [10]:
# 불러오기
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix, classification_report

In [11]:
# 선언하기
model = KNeighborsClassifier()

In [13]:
# 성능예측
cv_score = cross_val_score(model, x_train_s, y_train, cv=5)

In [14]:
# 결과확인
print(cv_score)
print(cv_score.mean())

[0.58571429 0.60035714 0.57785714 0.60321429 0.59785714]
0.5930000000000001

# 5.모델 튜닝


- Random Search로 튜닝을 진행합니다.

**1) 모델 튜닝**

In [15]:
from sklearn.model_selection import RandomizedSearchCV

In [16]:
# 파라미터 선언
  # n_neighbors: range(3, 21)
params = {'n_neighbors':range(3,21)}

# Random Search 선언
  # cv=5
  # n_iter=10
  # scoring='accuracy'
model = RandomizedSearchCV(model, params,cv=5, n_iter=10)

In [17]:
# 학습하기
model.fit(x_train_s, y_train)

RandomizedSearchCV(cv=5, estimator=KNeighborsClassifier(),
                   param_distributions={'n_neighbors': range(3, 21)})

**2) 결과 확인**

In [18]:
# mean_test_score 확인
print(model.cv_results_['mean_test_score'])

[0.59542857 0.59592857 0.59414286 0.59578571 0.59714286 0.59578571
 0.59635714 0.59771429 0.5905     0.59535714]

In [19]:
model.cv_results_

{'mean_fit_time': array([0.00387063, 0.00310602, 0.00303278, 0.00308909, 0.00280471,
        0.00314908, 0.0030488 , 0.00306101, 0.00282412, 0.00281568]),
 'std_fit_time': array([0.00058122, 0.00080351, 0.00050698, 0.00028646, 0.00017055,
        0.00077672, 0.00028769, 0.00025751, 0.00078371, 0.00040891]),
 'mean_score_time': array([0.21471105, 0.21482453, 0.21598606, 0.22419362, 0.20658293,
        0.22428203, 0.22056541, 0.2335835 , 0.20272369, 0.21088924]),
 'std_score_time': array([0.00285504, 0.00135123, 0.00701555, 0.00250863, 0.00247065,
        0.00174132, 0.00097313, 0.00848824, 0.00255978, 0.00273901]),
 'param_n_neighbors': masked_array(data=[10, 11, 8, 17, 7, 18, 14, 20, 3, 9],
              mask=[False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_neighbors': 10},
  {'n_neighbors': 11},
  {'n_neighbors': 8},
  {'n_neighbors': 17},
  {'n_neighbors': 7},
  {'n_neighbors': 18},
  {'n_neighbors': 14},
  {'n_neighbors': 20},
  {'n_neighbors': 3},
  {'n_neighbors': 9}],
 'split0_test_score': array([0.58464286, 0.57678571, 0.59178571, 0.58821429, 0.58892857,
        0.5825    , 0.58214286, 0.58321429, 0.58821429, 0.58607143]),
 'split1_test_score': array([0.6025    , 0.61035714, 0.5925    , 0.60678571, 0.59892857,
        0.6075    , 0.60964286, 0.61      , 0.59571429, 0.60321429]),
 'split2_test_score': array([0.58178571, 0.58214286, 0.58071429, 0.58035714, 0.58107143,
        0.59107143, 0.59142857, 0.59785714, 0.57107143, 0.57857143]),
 'split3_test_score': array([0.60642857, 0.60857143, 0.60571429, 0.60714286, 0.60964286,
        0.605     , 0.60785714, 0.60178571, 0.60035714, 0.605     ]),
 'split4_test_score': array([0.60178571, 0.60178571, 0.6       , 0.59642857, 0.60714286,
        0.59285714, 0.59071429, 0.59571429, 0.59714286, 0.60392857]),
 'mean_test_score': array([0.59542857, 0.59592857, 0.59414286, 0.59578571, 0.59714286,
        0.59578571, 0.59635714, 0.59771429, 0.5905    , 0.59535714]),
 'std_test_score': array([0.01013783, 0.01384794, 0.00844732, 0.01044763, 0.01081854,
        0.00926756, 0.01064837, 0.00873826, 0.01049927, 0.01091946]),
 'rank_test_score': array([ 7,  4,  9,  5,  2,  5,  3,  1, 10,  8])}

In [20]:
# 최적 파라미터
print(model.best_params_)

{'n_neighbors': 20}

In [21]:
# 최고 성능
print(model.best_score_)

0.5977142857142856

# 6. 성능 평가

- 학습을 통해 예상한 성능과 실제 평가에 따른 성능은 차이가 있을 수 있습니다.
- 예선전에서 성적이 좋았다고 본선에서도 성적이 좋다고 보장할 수는 없겠지요?

In [22]:
# 예측하기
y_pred = model.predict(x_test)

In [23]:
# 평가하기
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[1449 1616]
 [1063 1872]]
              precision    recall  f1-score   support

           0       0.58      0.47      0.52      3065
           1       0.54      0.64      0.58      2935

    accuracy                           0.55      6000
   macro avg       0.56      0.56      0.55      6000
weighted avg       0.56      0.55      0.55      6000