### Zigbang 원룸 매물 데이터 수집

In [1]:
import warnings
warnings.filterwarnings('ignore')
import requests
import pandas as pd

#### Process
    - 동이름으로 위도 경도 구하기
    - 위도 경도로 geohash 알아내기
    - geohash로 매물 아이디 가져오기
    - 매물 아이디로 매물 정보 가져오기

#### 1. 동이름으로 위도 경도 구하기

In [7]:
# 1. 웹페이지 분석 : 개발자 도구 : URL
# https://apis.zigbang.com/v2/search?leaseYn=N&q=%EB%A7%9D%EC%9B%90%EB%8F%99&serviceType=%EC%9B%90%EB%A3%B8
addr = '망원동'
url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=원룸'
# 2. Request(URL) > Response(Json(str))
response = requests.get(url)

# 3. Json(str) > list, dict > 위도, 경도
data = response.json()['items'][0]
lat, lng = data['lat'], data['lng']
lat, lng

(37.556785583496094, 126.9013442993164)

#### 2. 위도 경도로 geohash 알아내기
- install geohash2 package

In [8]:
!pip install geohash2

Collecting geohash2
  Downloading geohash2-1.1.tar.gz (15 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: docutils>=0.3 in c:\users\user\anaconda3\lib\site-packages (from geohash2) (0.18.1)
Building wheels for collected packages: geohash2
  Building wheel for geohash2 (setup.py): started
  Building wheel for geohash2 (setup.py): finished with status 'done'
  Created wheel for geohash2: filename=geohash2-1.1-py3-none-any.whl size=15554 sha256=fd5b1c9c4fb4da02728fbcce0b0cb53347fda4237efa4550cd21090bee12d4f5
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\f6\7c\c4\1b3c6fea0ebc53bf730dc86bbee7a713d501455dfb4c1f0623
Successfully built geohash2
Installing collected packages: geohash2
Successfully installed geohash2-1.1

In [9]:
import geohash2

In [10]:
# precision : 영역크기 : 커질수록 영역이 작아짐
geohash = geohash2.encode(lat, lng, precision=5)
geohash

'wydjx'

#### 3. geohash로 매물 아이디 가져오기

In [12]:
url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=전세|월세&service_type_eq=원룸'

response = requests.get(url)
response

In [20]:
items = response.json()['items']
ids = []
for item in items:
    print(item['item_id'])
    ids.append(item['item_id'])
ids

37623131
37685329
37699264
37828417
37595863
37812771
37594373
37779193
37681821
37789981
37812120
37591840
37647361
37776332
37821042
37822875
37822954
37830915
37831419
37802231
37807450
37573837
37806009
37756478
37756629
37687435
37732891
37545432
37733547
37777449
37815927
37840494
37805662
37738304
37809180
37725362
37725378
37791522
37819640
37823879
37769944
37784321
37811134
37820390
37803194
37708036
37820398
37807105
37680236
37682630
37563947
37603729
37629225
37699830
37609079
37623279
37623344
37792632
37819910
37816837
37798113
37798222
37801140
37757747
37633675
37700428
37833446
35677284
37448728
37624965
37841157
37658808
37687107
37709024
37709031
37773811
37782834
37812725
37377665
37682567
37751948
37725986
37798348
37839779
37840783
37626753
37519972
37696725
37823914
37597484
37800296
37760927
37788461
37789081
37791583
37609792
37840360
37742550
37786434
37789526
37740035
37791557
37831773
35325320
36832429
37622957
37681902
37696432
37715279
37792647
37807349
37837134
37791567
37622981
37805218
37838371
37823150
37823444
37782871
37823084
37637594
37684345
37698601
37773104
37785236
37798786
37825808
37624435
37693095
37739517
37822902
37823058
37822977
37823382
37518383
37591392
37619141
37743381
37816686
37818592
37738063
37744605
37738483
37789101
37733490
37742210
37755659
37505099
37838240
37500159
37500553
37501813
37501863
37501964
37742155
37746051
37841576
37639688
37761984
37716601
37840788
37789566
37485117
37607132
37742169
37810741
37816974
37754964
37783478
37794251
37817949
37825936
37830981
37835711
37687432
37816235
37816889
37817891
37539481
37819680
37825991
37700336
37518500
37791393
37798152
37647646
37810692
37756233
37381080
37729827
37739056
37744916
37769931
37797694
37797699
37817873
37569407
37669730
37786034
37798324
37802125
37810191
37789067
37794497
37806634
37750530
37807466
37839041
37734011
37774376
37503826
37620520
37832092
37744511
37792381
37827914
37757905
37764837
37827559
37740133
37524955
37594139
37756840
37761366
37564572
37753226
37795282
37723162
37764682
37782383
37528140
37760857
37792646
37739401
37805389
37667528
37804666
37717441
37766886
37826023
37734334
37614908
37728534
37757846
37764145
37758062
37799351
36329294
37623534
37824409
37749118
37654267
37820339
37794528
37117761
37696679
37824427
37824349
37363383
37440511
37702134
37763738
37663069
37713693
37713700
37775244
37720168
37681734
37780550
37663204
37817959
37582011
37582669
37587014
37615982
37699687
37745455
37750484
37828724
37828772
37531762
37816968
37822140
37817932
37679459
37776227
37677707
37583224
37676807
37830032
37804986
37775071
37394700
37615421
37572834
37664092
37730237
37780866
37795533
37814682
37815670
37701169
37705898
37705913
37729848
37784442
37820595
37819902
37831904
37761397
37704504
37818415
37829927
37729422
35161571
37377788
37759166
37827726
37810298
37740006
37560146
37704367
37755148
37720155
37792783
37820527
37560114
37714386
37704498
37799175
37806933
37626798
37822150
37830065
37778957
37786325
37787926
37534074
37831673
37748528
37819304
37830444
37824020
37824033
37824090
37799296
37633273
37611498
37663375
37752426
37753889
37745241
37840081
37560672
37667266
37693356
37762165
37775221
37784233
37804264
37819987
37829172
37779165
37633541
37691375
37701704
37624738
37760584
37799287
37807281
37609119
37674800
37710096
37717800
37727436
37813112
37799233
37764949
37799478
37801540
37814767
37811154
37638565
36915749
37470018
37668099
37568534
37626743
37814752
37825096
37738498
37796306
37666663
37709901
37741462
37682675
37834753
37750012
37747746
37832062
37695117
37836908
37449155
37604771
37682470
37780028
37816347
37605800
37475842
37584987
37798318
37789551
37806523
36853331
37839735
37746588
37757261
37758162
37696751
37827044
37785370
37836562
37798655
37742263
37779202
37783684
37653578
37685910
37715342
37434580
37832872
37817524
37640205
37733517
37832840
37677268
37798636
37783943
37784953
37638576
37725370
37827395
37499645
37724743
37831035
37830745
37569385
37696680
37606570
37674738
37687556
37435527
37537313
37656001
37818971
37827843
37822926
37527951
37629913
37805993
37569528
37826746
37813062
37655842
37693413
37695127
37794435
37729668
37748159
37832798
37795178
37722733
37769318
37819869
37838626
37687869
37705634
37709681
37709692
37709713
37835948
37757930
37722113
37815051
37767352
37775966
37523032
37753249
37759859
37837202
37837240
37554620
37291277
37741645
37839568
37839684
37840830
37837116
37837160
37837170
37653990
37743674
37804362
37811722
37762224
37681868
37702112
37704877
37729146
37788857
37830485
37830132
37601405
37670152
37688192
37788747
37829423
37785397
37826419
37720849
37811945
37597747
37648396
37731959
37784822
37801818
37833975
37659509
37735808
37765890
37838658
37488114
37577066
37632147
37817604
37820258
37820323
37750541
37784351
37839057
37746479
37752415
37828325
37751886
37752451
37838613
37832460
37614050
37689958
37747738
37752423
37809677
37723249
37763914
37771584
37821111
37818190
37724117
37752419
37771330
37823761
37839163
37839213
37595687
37595701
37659453
37660951
37661391
37841541
37718709
37794552
37750896
37797269
37805028
37751115
37609788
37642948
37788015
37769062
37703323
37836529

[37623131,
 37685329,
 37699264,
 37828417,
 37595863,
 37812771,
 37594373,
 37779193,
 37681821,
 37789981,
 37812120,
 37591840,
 37647361,
 37776332,
 37821042,
 37822875,
 37822954,
 37830915,
 37831419,
 37802231,
 37807450,
 37573837,
 37806009,
 37756478,
 37756629,
 37687435,
 37732891,
 37545432,
 37733547,
 37777449,
 37815927,
 37840494,
 37805662,
 37738304,
 37809180,
 37725362,
 37725378,
 37791522,
 37819640,
 37823879,
 37769944,
 37784321,
 37811134,
 37820390,
 37803194,
 37708036,
 37820398,
 37807105,
 37680236,
 37682630,
 37563947,
 37603729,
 37629225,
 37699830,
 37609079,
 37623279,
 37623344,
 37792632,
 37819910,
 37816837,
 37798113,
 37798222,
 37801140,
 37757747,
 37633675,
 37700428,
 37833446,
 35677284,
 37448728,
 37624965,
 37841157,
 37658808,
 37687107,
 37709024,
 37709031,
 37773811,
 37782834,
 37812725,
 37377665,
 37682567,
 37751948,
 37725986,
 37798348,
 37839779,
 37840783,
 37626753,
 37519972,
 37696725,
 37823914,
 37597484,
 37800296,
 37760927,
 37788461,
 37789081,
 37791583,
 37609792,
 37840360,
 37742550,
 37786434,
 37789526,
 37740035,
 37791557,
 37831773,
 35325320,
 36832429,
 37622957,
 37681902,
 37696432,
 37715279,
 37792647,
 37807349,
 37837134,
 37791567,
 37622981,
 37805218,
 37838371,
 37823150,
 37823444,
 37782871,
 37823084,
 37637594,
 37684345,
 37698601,
 37773104,
 37785236,
 37798786,
 37825808,
 37624435,
 37693095,
 37739517,
 37822902,
 37823058,
 37822977,
 37823382,
 37518383,
 37591392,
 37619141,
 37743381,
 37816686,
 37818592,
 37738063,
 37744605,
 37738483,
 37789101,
 37733490,
 37742210,
 37755659,
 37505099,
 37838240,
 37500159,
 37500553,
 37501813,
 37501863,
 37501964,
 37742155,
 37746051,
 37841576,
 37639688,
 37761984,
 37716601,
 37840788,
 37789566,
 37485117,
 37607132,
 37742169,
 37810741,
 37816974,
 37754964,
 37783478,
 37794251,
 37817949,
 37825936,
 37830981,
 37835711,
 37687432,
 37816235,
 37816889,
 37817891,
 37539481,
 37819680,
 37825991,
 37700336,
 37518500,
 37791393,
 37798152,
 37647646,
 37810692,
 37756233,
 37381080,
 37729827,
 37739056,
 37744916,
 37769931,
 37797694,
 37797699,
 37817873,
 37569407,
 37669730,
 37786034,
 37798324,
 37802125,
 37810191,
 37789067,
 37794497,
 37806634,
 37750530,
 37807466,
 37839041,
 37734011,
 37774376,
 37503826,
 37620520,
 37832092,
 37744511,
 37792381,
 37827914,
 37757905,
 37764837,
 37827559,
 37740133,
 37524955,
 37594139,
 37756840,
 37761366,
 37564572,
 37753226,
 37795282,
 37723162,
 37764682,
 37782383,
 37528140,
 37760857,
 37792646,
 37739401,
 37805389,
 37667528,
 37804666,
 37717441,
 37766886,
 37826023,
 37734334,
 37614908,
 37728534,
 37757846,
 37764145,
 37758062,
 37799351,
 36329294,
 37623534,
 37824409,
 37749118,
 37654267,
 37820339,
 37794528,
 37117761,
 37696679,
 37824427,
 37824349,
 37363383,
 37440511,
 37702134,
 37763738,
 37663069,
 37713693,
 37713700,
 37775244,
 37720168,
 37681734,
 37780550,
 37663204,
 37817959,
 37582011,
 37582669,
 37587014,
 37615982,
 37699687,
 37745455,
 37750484,
 37828724,
 37828772,
 37531762,
 37816968,
 37822140,
 37817932,
 37679459,
 37776227,
 37677707,
 37583224,
 37676807,
 37830032,
 37804986,
 37775071,
 37394700,
 37615421,
 37572834,
 37664092,
 37730237,
 37780866,
 37795533,
 37814682,
 37815670,
 37701169,
 37705898,
 37705913,
 37729848,
 37784442,
 37820595,
 37819902,
 37831904,
 37761397,
 37704504,
 37818415,
 37829927,
 37729422,
 35161571,
 37377788,
 37759166,
 37827726,
 37810298,
 37740006,
 37560146,
 37704367,
 37755148,
 37720155,
 37792783,
 37820527,
 37560114,
 37714386,
 37704498,
 37799175,
 37806933,
 37626798,
 37822150,
 37830065,
 37778957,
 37786325,
 37787926,
 37534074,
 37831673,
 37748528,
 37819304,
 37830444,
 37824020,
 37824033,
 37824090,
 37799296,
 37633273,
 37611498,
 37663375,
 37752426,
 37753889,
 37745241,
 37840081,
 37560672,
 37667266,
 37693356,
 37762165,
 37775221,
 37784233,
 37804264,
 37819987,
 37829172,
 37779165,
 37633541,
 37691375,
 37701704,
 37624738,
 37760584,
 37799287,
 37807281,
 37609119,
 37674800,
 37710096,
 37717800,
 37727436,
 37813112,
 37799233,
 37764949,
 37799478,
 37801540,
 37814767,
 37811154,
 37638565,
 36915749,
 37470018,
 37668099,
 37568534,
 37626743,
 37814752,
 37825096,
 37738498,
 37796306,
 37666663,
 37709901,
 37741462,
 37682675,
 37834753,
 37750012,
 37747746,
 37832062,
 37695117,
 37836908,
 37449155,
 37604771,
 37682470,
 37780028,
 37816347,
 37605800,
 37475842,
 37584987,
 37798318,
 37789551,
 37806523,
 36853331,
 37839735,
 37746588,
 37757261,
 37758162,
 37696751,
 37827044,
 37785370,
 37836562,
 37798655,
 37742263,
 37779202,
 37783684,
 37653578,
 37685910,
 37715342,
 37434580,
 37832872,
 37817524,
 37640205,
 37733517,
 37832840,
 37677268,
 37798636,
 37783943,
 37784953,
 37638576,
 37725370,
 37827395,
 37499645,
 37724743,
 37831035,
 37830745,
 37569385,
 37696680,
 37606570,
 37674738,
 37687556,
 37435527,
 37537313,
 37656001,
 37818971,
 37827843,
 37822926,
 37527951,
 37629913,
 37805993,
 37569528,
 37826746,
 37813062,
 37655842,
 37693413,
 37695127,
 37794435,
 37729668,
 37748159,
 37832798,
 37795178,
 37722733,
 37769318,
 37819869,
 37838626,
 37687869,
 37705634,
 37709681,
 37709692,
 37709713,
 37835948,
 37757930,
 37722113,
 37815051,
 37767352,
 37775966,
 37523032,
 37753249,
 37759859,
 37837202,
 37837240,
 37554620,
 37291277,
 37741645,
 37839568,
 37839684,
 37840830,
 37837116,
 37837160,
 37837170,
 37653990,
 37743674,
 37804362,
 37811722,
 37762224,
 37681868,
 37702112,
 37704877,
 37729146,
 37788857,
 37830485,
 37830132,
 37601405,
 37670152,
 37688192,
 37788747,
 37829423,
 37785397,
 37826419,
 37720849,
 37811945,
 37597747,
 37648396,
 37731959,
 37784822,
 37801818,
 37833975,
 37659509,
 37735808,
 37765890,
 37838658,
 37488114,
 37577066,
 37632147,
 37817604,
 37820258,
 37820323,
 37750541,
 37784351,
 37839057,
 37746479,
 37752415,
 37828325,
 37751886,
 37752451,
 37838613,
 37832460,
 37614050,
 37689958,
 37747738,
 37752423,
 37809677,
 37723249,
 37763914,
 37771584,
 37821111,
 37818190,
 37724117,
 37752419,
 37771330,
 37823761,
 37839163,
 37839213,
 37595687,
 37595701,
 37659453,
 37660951,
 37661391,
 37841541,
 37718709,
 37794552,
 37750896,
 37797269,
 37805028,
 37751115,
 37609788,
 37642948,
 37788015,
 37769062,
 37703323,
 37836529]

In [21]:
len(ids), ids[:5]

(581, [37623131, 37685329, 37699264, 37828417, 37595863])

In [22]:
# listcomprehension : 간단한 for, if를 사용해서 리스트 데이터를 만들때 사용되는 문법
# [var for var in collection if condition]
ids = [item['item_id'] for item in items]
ids[:5]

[37623131, 37685329, 37699264, 37828417, 37595863]

#### 4. 매물 아이디로 매물 정보 가져오기

In [24]:
# 요청 id가 1000개를 초과하면 에러발생
url = 'https://apis.zigbang.com/v2/items/list'
params = {
    'domain' : 'zigbang',
    'item_ids':ids,
}

response = requests.post(url, params)
response

In [28]:
data = response.json()['items']
df = pd.DataFrame(data)
df.tail(2)

,item_id,section_type,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,공급면적,전용면적,...,is_new,addressOrigin,action,contract,address,is_zzim,address1,address2,address3,item_bm_type
579,37703323,None,https://ic.zigbang.com/ic/items/37703323/1.jpg,월세,월세,5000,160,63.97,"{'m2': 63.97, 'p': '19.4'}","{'m2': 42.52, 'p': '12.9'}",...,False,"{'local1': '서울시', 'local2': '마포구', 'local3': '...","{'isRead': False, 'readAt': None, 'isInquired'...",,마포구 중동,False,서울시 마포구 중동,None,None,ZIGBANG
580,37836529,None,https://ic.zigbang.com/ic/items/37836529/1.jpg,월세,월세,5000,160,61.09,"{'m2': 61.09, 'p': '18.5'}","{'m2': 40.61, 'p': '12.3'}",...,True,"{'local1': '서울특별시', 'local2': '마포구', 'local3':...","{'isRead': False, 'readAt': None, 'isInquired'...",,마포구 중동,False,서울시 마포구 중동,None,None,ZIGBANG

In [30]:
pd.options.display.max_columns = 40

In [31]:
df.tail(2)

,item_id,section_type,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,공급면적,전용면적,계약면적,room_type_title,floor,floor_string,building_floor,title,is_first_movein,room_type,status,tags,service_type,random_location,manage_cost,reg_date,is_new,addressOrigin,action,contract,address,is_zzim,address1,address2,address3,item_bm_type
579,37703323,None,https://ic.zigbang.com/ic/items/37703323/1.jpg,월세,월세,5000,160,63.97,"{'m2': 63.97, 'p': '19.4'}","{'m2': 42.52, 'p': '12.9'}",None,None,3,3,6,전입o 가좌역 도보5분 살기좋은 신축쓰리룸,None,05,True,[추천],빌라,"{'lat': 37.56930186522451, 'lng': 126.90985826...",8,2023-08-12T09:50:21+09:00,False,"{'local1': '서울시', 'local2': '마포구', 'local3': '...","{'isRead': False, 'readAt': None, 'isInquired'...",,마포구 중동,False,서울시 마포구 중동,None,None,ZIGBANG
580,37836529,None,https://ic.zigbang.com/ic/items/37836529/1.jpg,월세,월세,5000,160,61.09,"{'m2': 61.09, 'p': '18.5'}","{'m2': 40.61, 'p': '12.3'}",None,None,고,고,6,가좌역 역세권 신축 첫입주 투룸 반전세주차O,None,04,True,[],오피스텔,"{'lat': 37.56981487490897, 'lng': 126.90922904...",8,2023-08-24T11:44:39+09:00,True,"{'local1': '서울특별시', 'local2': '마포구', 'local3':...","{'isRead': False, 'readAt': None, 'isInquired'...",,마포구 중동,False,서울시 마포구 중동,None,None,ZIGBANG

In [32]:
# pd.options.display.max_rows

60

In [34]:
# df.columns
columns = ['item_id','sales_type', 'deposit', 'rent', 'size_m2',
          'floor', 'floor_string', 'building_floor', 'title',
          'service_type','manage_cost','address1']
df = df[columns]
df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,floor,floor_string,building_floor,title,service_type,manage_cost,address1
579,37703323,월세,5000,160,63.97,3,3,6,전입o 가좌역 도보5분 살기좋은 신축쓰리룸,빌라,8,서울시 마포구 중동
580,37836529,월세,5000,160,61.09,고,고,6,가좌역 역세권 신축 첫입주 투룸 반전세주차O,오피스텔,8,서울시 마포구 중동

In [38]:
result = df.loc[df['address1'].str.contains('망원동')].reset_index(drop=True)
result

,item_id,sales_type,deposit,rent,size_m2,floor,floor_string,building_floor,title,service_type,manage_cost,address1
0,37814767,월세,2000,45,23.14,1,1,3,3000.40 가능 . 풀옵션 . 큰 원룸 . 1.5층,원룸,5,서울시 마포구 망원동
1,37811154,월세,2000,45,23.14,1,1,3,리모델링원룸 빠른입주가능,원룸,5,서울시 마포구 망원동
2,37568534,전세,23000,0,44.29,2,2,2,가성비 따듯한 감성 리모델링 투룸,빌라,3,서울시 마포구 망원동
3,37626743,전세,28000,0,65.37,2,2,5,쓰리룸 빌라전세 HUG안심대출 주차가능,빌라,0,서울시 마포구 망원동
4,37814752,전세,27000,0,52.09,4,4,5,버팀목.보증보험가능. 테라스 있는 3룸이에요,빌라,3,서울시 마포구 망원동
5,37825096,전세,27000,0,52.89,4,4,5,망원역세권 테라스가 넓은 3룸 입니다.,빌라,3,서울시 마포구 망원동
6,37796306,전세,16000,0,41.21,2,2,3,가성비 주차 동물 버팀목 가능 투룸,빌라,1,서울시 마포구 망원동
7,37666663,월세,1000,75,23.14,2,2,4,망원동 핫플 리모델링 완료후 첫 입주,원룸,5,서울시 마포구 망원동
8,37709901,월세,1000,70,23.14,4,4,4,망원 신축 첫입주 풀옵션 리모델링 평수 채광 굳굳,원룸,5,서울시 마포구 망원동
9,37741462,전세,14000,0,26.45,2,2,4,잔여세대 1개ㅣ망원역5분ㅣ올리모델링ㅣ1.5룸,원룸,5,서울시 마포구 망원동
10,37682675,전세,11000,0,42.98,반지하,반지하,2,망원한강공원인근 투룸 전세 LH가능,빌라,1.5,서울시 마포구 망원동
11,37834753,전세,18000,0,39.67,2,2,4,망원역 근처여서 위치가 좋은 2룸 입니다.,빌라,2,서울시 마포구 망원동
12,37750012,월세,10000,40,70.19,4,4,5,넓은 쓰리룸 채광좋음 HUG가능,빌라,14,서울시 마포구 망원동
13,37695117,전세,30000,0,39.67,3,3,5,망원동 투룸전세 한번 보세요,빌라,4,서울시 마포구 망원동
14,37836908,전세,16000,0,46.74,1,1,2,1.5층 리모델링 투룸,빌라,3,서울시 마포구 망원동
15,37449155,전세,30000,0,37.18,2,2,6,HUG버팀목ㅣ안심전세ㅣ보증보험 OK l 신축 풀옵션 2룸,빌라,8,서울시 마포구 망원동
16,37604771,전세,30000,0,37.18,2,2,6,망원동 버팀목 대출 가능한2룸 전세,빌라,8,서울시 마포구 망원동
17,37682470,전세,30000,0,37.18,2,2,6,"허그안심 보증보험가능, 신축투룸 첫입주 풀옵션,망리단길인접",빌라,5,서울시 마포구 망원동
18,37780028,전세,30000,0,39.87,5,5,6,허그버팀목대출되는마포구최저가신축투룸.한강공원도보5분,빌라,8,서울시 마포구 망원동
19,37816347,전세,30000,0,38.00,5,5,6,"신축 풀옵션 버팀목,보증보험 한강공원바로앞",빌라,5,서울시 마포구 망원동
20,36853331,월세,2000,60,39.67,2,2,3,망리단길 근처 조용한 주택가 투룸,빌라,0,서울시 마포구 망원동
21,37839735,전세,21000,0,19.54,4,4,5,대형 테라스데크 전동어닝신축급 풀옵션 1.5룸,원룸,5,서울시 마포구 망원동
22,37746588,월세,3000,80,39.67,반지하,반지하,4,o망원동o 수리된 쓰리룸 옵션有,빌라,0,서울시 마포구 망원동
23,37798655,월세,2000,40,16.53,3,3,5,준신축 풀옵션 원룸..주차 가능..망원역 도보 10여분,원룸,3,서울시 마포구 망원동
24,37715342,전세,25000,0,55.00,1,1,2,망원역도보 5분거리 1층 3룸 거실 욕1 융자무,빌라,0,서울시 마포구 망원동
25,37640205,월세,400,69,16.53,3,3,3,반려동물 주차 가능 풀옵션원룸,원룸,9,서울시 마포구 망원동
26,37832840,월세,1000,67,23.14,1,1,3,1.5층 주차100프로가능 분리형원룸,원룸,3,서울시 마포구 망원동
27,37784953,월세,20000,30,39.80,2,2,5,망원동 투룸전세 버팀목 안심 보증보험 가능,빌라,7,서울시 마포구 망원동
28,37724743,전세,19000,0,42.98,4,4,4,동교초 근처 넒은 테라스 투룸 전세,빌라,2,서울시 마포구 망원동
29,37569385,월세,2000,50,23.14,반지하,반지하,4,주차100프로O 20년식옵션빵빵한분리형원룸,원룸,8,서울시 마포구 망원동
30,37687556,월세,500,28,13.22,반지하,반지하,3,인기망원역 초특가 풀옵 원룸,원룸,4,서울시 마포구 망원동
31,37435527,월세,1000,50,16.00,2,2,4,망원역 10분 풀옵션 원룸,원룸,5,서울시 마포구 망원동
32,37537313,월세,1000,50,16.53,2,2,4,빠른입주 가능한 원룸 월세,원룸,5,서울시 마포구 망원동
33,37822926,월세,1000,53,39.67,반지하,반지하,3,원룸금액이지만 투룸맞아요,빌라,3,서울시 마포구 망원동
34,37527951,월세,5000,60,15.83,3,3,4,"신축 원룸, 전철역도보8분, EV와CCTV설치",원룸,7,서울시 마포구 망원동
35,37629913,월세,3000,70,16.53,3,3,4,신축 첫입주 보증금 위로 조절 가능,원룸,7,서울시 마포구 망원동
36,37693413,전세,28000,0,45.04,4,4,5,마포구청역 신축급 보증보험 버팀목가능 채광좋고 넓은 투룸,빌라,5,서울시 마포구 망원동
37,37695127,전세,28000,0,45.04,4,4,5,한강공원10분ㅣ전용넓은 쾌적한 망원투룸ㅣHUG 모든대출OK,빌라,5,서울시 마포구 망원동
38,37794435,전세,28000,0,45.04,4,4,5,"HUG버팀목 모든 전세대출가능, 공시X1.26됨, 큰집",빌라,5,서울시 마포구 망원동
39,37832798,월세,1000,50,23.14,반지하,반지하,3,주차O 넓고깔끔한분리형원룸,원룸,3,서울시 마포구 망원동
40,37722733,전세,15000,0,41.80,2,2,3,1억대 보기 힘든 가성비 투룸,빌라,0,서울시 마포구 망원동
41,37769318,전세,14000,0,40.00,2,2,4,지상투룸 조건 맟추어드려요 풀옵션 모든대출가 LH도가능,빌라,0,서울시 마포구 망원동
42,37838626,월세,2000,90,39.67,1,1,2,마포구청역5분 가성비 최고 넓은 면적,원룸,0,서울시 마포구 망원동
43,37687869,월세,2000,120,23.99,2,2,6,",,,,,,,마포구청역 신축 첫 입주,,,,,,,",원룸,5,서울시 마포구 망원동
44,37705634,월세,1000,125,23.14,2,2,6,V망원동 신축 첫입주 풀옵션 6호선초역세권 1.5룸V,원룸,5,서울시 마포구 망원동
45,37709681,전세,27700,0,23.99,2,2,6,마포구청역 7분ㅣ풀옵션 1.5룸ㅣHUG청년버팀목 전세대출ㅣ,원룸,5,서울시 마포구 망원동
46,37709692,전세,27700,0,23.99,2,2,6,HUG청년버팀목ㅣ전세대출OKㅣ마포구청역 7분ㅣ풀옵션 1.5,원룸,5,서울시 마포구 망원동
47,37709713,월세,2000,120,23.99,2,2,6,ㅣ마포구청역 7분ㅣ신축 풀옵션 1.5룸ㅣ즉시 입주 가능ㅣ,원룸,5,서울시 마포구 망원동
48,37835948,월세,3000,150,34.37,4,4,6,마포구청역450m안전하고컨디션좋은2룸,빌라,3,서울시 마포구 망원동
49,37757930,월세,2000,150,46.28,3,3,6,"귀한2룸월세,신축첫입주\r\n인테리어 이쁜,한강,6호선,역세권",빌라,4,서울시 마포구 망원동
50,37523032,월세,7000,20,16.80,2,2,4,망원동 꿀매물vv옥상로망 실현가능v주말야간미팅,원룸,5,서울시 마포구 망원동
51,37753249,월세,9000,9,18.82,1,1,4,마포구청인근 인기 원룸 입니다. 보증보험 가입 안전물건,원룸,11,서울시 마포구 망원동
52,37759859,전세,10000,0,19.83,1,1,3,마포구청역 복층 원룸 전세,원룸,2.5,서울시 마포구 망원동
53,37554620,전세,36400,0,62.00,5,5,5,마포구청역 도보3분거리 3룸 거실 욕1 엘리베이터유,빌라,5,서울시 마포구 망원동
54,37291277,월세,1000,40,16.53,2,2,6,✔⭐망원동 저렴한 원룸✔마포구청역3분✔엘베♻⭐,원룸,3,서울시 마포구 망원동
55,37741645,전세,25000,0,44.37,2,2,5,마포구청역도보5분.풀옵션투룸,빌라,1,서울시 마포구 망원동
56,37743674,월세,300,72,16.53,2,2,3,마포구청역 가까운 신축급 인기 원룸ㅣ풀풀옵션,원룸,7,서울시 마포구 망원동
57,37804362,월세,300,72,19.83,2,2,3,신축급즉시입주깔끔원룸 주차가능,원룸,7,서울시 마포구 망원동
58,37811722,월세,2000,110,48.00,1,1,3,리모델링후 첫입주 쓰리룸월세 풀옵션,빌라,1,서울시 마포구 망원동

In [44]:
# function
def oneroom(addr):

    url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=원룸'
    response = requests.get(url)
    data = response.json()['items'][0]
    lat, lng = data['lat'], data['lng']
    
    geohash = geohash2.encode(lat, lng, precision=5)
    url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=전세|월세&service_type_eq=원룸'
    response = requests.get(url)
    
    items = response.json()['items']
    ids = [item['item_id'] for item in items]
    
    url = 'https://apis.zigbang.com/v2/items/list'
    params = {
        'domain' : 'zigbang',
        'item_ids':ids,
    }
    response = requests.post(url, params)
    
    data = response.json()['items']
    df = pd.DataFrame(data)
    result = df.loc[df['address1'].str.contains(addr)].reset_index(drop=True)
    return result[['item_id', 'title', 'deposit', 'rent', 'address1', 'size_m2', 'manage_cost']]

In [46]:
result = oneroom('마포구 합정동')
result.tail(2)

NameError: name 'requests' is not defined

In [42]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [45]:
%whos

Variable   Type        Data/Info
--------------------------------
oneroom    function    <function oneroom at 0x000001BC66A4AAC0>

In [47]:
import requests
import pandas as pd
import geohash2

In [48]:
%whos

Variable   Type        Data/Info
--------------------------------
geohash2   module      <module 'geohash2' from '<...>\\geohash2\\__init__.py'>
oneroom    function    <function oneroom at 0x000001BC66A4AAC0>
pd         module      <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
requests   module      <module 'requests' from '<...>\\requests\\__init__.py'>

In [50]:
%%time
result = oneroom('마포구 합정동')
result.tail(2)

CPU times: total: 93.8 ms
Wall time: 494 ms

,item_id,title,deposit,rent,address1,size_m2,manage_cost
63,37470018,o합정역o 3룸 올수리 대박,3000,120,서울시 마포구 합정동,59.50,2
64,37668099,가성비 허그 LH 리모델링 투룸,20000,0,서울시 마포구 합정동,59.81,1

In [51]:
# 모듈 파일 만들기 : 변수, 함수, 클래스를 하나의 파일(.py)로 묶어서 코드 작성 실행 문법

In [52]:
%%writefile zigbang.py
import requests
import pandas as pd
import geohash2

# function
def oneroom(addr):

    url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=원룸'
    response = requests.get(url)
    data = response.json()['items'][0]
    lat, lng = data['lat'], data['lng']
    
    geohash = geohash2.encode(lat, lng, precision=5)
    url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=전세|월세&service_type_eq=원룸'
    response = requests.get(url)
    
    items = response.json()['items']
    ids = [item['item_id'] for item in items]
    
    url = 'https://apis.zigbang.com/v2/items/list'
    params = {
        'domain' : 'zigbang',
        'item_ids':ids,
    }
    response = requests.post(url, params)
    
    data = response.json()['items']
    df = pd.DataFrame(data)
    result = df.loc[df['address1'].str.contains(addr)].reset_index(drop=True)
    return result[['item_id', 'title', 'deposit', 'rent', 'address1', 'size_m2', 'manage_cost']]

Writing zigbang.py

In [54]:
%ls zigbang.py

 C 드라이브의 볼륨: WINDOWS
 볼륨 일련 번호: 1CE2-C115

 C:\Users\user\Web_Crawling\day1 디렉터리

2023-08-24  오후 05:00             1,092 zigbang.py
               1개 파일               1,092 바이트
               0개 디렉터리  169,887,973,376 바이트 남음