In [1]:
%ls zigbang.py

 C 드라이브의 볼륨: WINDOWS
 볼륨 일련 번호: 1CE2-C115

 C:\Users\user\Web_Crawling\day1 디렉터리

2023-08-24  오후 05:00             1,092 zigbang.py
               1개 파일               1,092 바이트
               0개 디렉터리  169,890,979,840 바이트 남음

In [2]:
import zigbang as zb

In [3]:
df = zb.oneroom('망원동')
df.tail(2)

,item_id,title,deposit,rent,address1,size_m2,manage_cost
57,37804362,신축급즉시입주깔끔원룸 주차가능,300,72,서울시 마포구 망원동,19.83,7
58,37811722,리모델링후 첫입주 쓰리룸월세 풀옵션,2000,110,서울시 마포구 망원동,48.00,1

In [6]:
# 얕은 복사, 깊은 복사
d1 = [1,2,3]
d2 = d1 # 얕은 복사 : 주소값 복사
d3 = d1.copy() # 깊은 복사 : 데이터 복사
print(d1,d2,d3)
d1[1] = 4
print(d1,d2,d3)

[1, 2, 3] [1, 2, 3] [1, 2, 3]
[1, 4, 3] [1, 4, 3] [1, 2, 3]

In [7]:
id(d1), id(d2), id(d3)

(2185477466752, 2185477466752, 2185517335808)